// Regular
@font-face {
    font-family: 'Spectral';
    src: url('../fonts/Spectral-Regular.eot');
    src: url('../fonts/Spectral-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Spectral-Regular.woff2') format('woff2'),
         url('../fonts/Spectral-Regular.woff') format('woff'),
         url('../fonts/Spectral-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: url('../fonts/Karla-Regular.eot');
    src: url('../fonts/Karla-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Karla-Regular.woff2') format('woff2'),
         url('../fonts/Karla-Regular.woff') format('woff'),
         url('../fonts/Karla-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// Font and section sizing
@media screen and (min-width: $tablet) {
    section { font-size:110%; } /* Increase the font size */
}
@media screen and (min-width:1400px) {
    section { padding:0 15%; } /* Reduce the container width */
}
@media screen and (min-width:1600px) {
    section { font-size:105%; } /* Increase the font size */
}
@media screen and (min-width:1800px) {
    section { padding:0 20%; } /* Reduce the container width */
}

.footnote-font {
    font-size: 14px;
}