#gallary {
    margin-top: 2em;
    overflow: hidden;

    .gallary-outer {

        display: flex;
        flex: 1;

        .gallary-control {
            position: absolute;
        }

        .gallary-center {
            //width: 80%;
        }

    }

    #slidr-div {
        margin: 0 auto;
    }

    img {
        display: block;
        max-width: 1080px;
        width: 100%;
        height: auto;
    }

    // .gallary-wrapper {

    //     display: flex;
    //     flex: 1;
    //     flex-direction: row;
    //     overflow: hidden;
    //     position: relative;

    //     .gallary-control-container {
    //         position: absolute;
    //         height: 100%;

    //         button {
    //             background: transparent;
    //             border: 0;
    //             cursor: pointer;
    //             height: 100%;
    //             min-width: 40px;

    //             span {
    //                 clip: rect(1, 1, 1, 1);
    //                 position: absolute;
    //             }
    //         }
    //     }

    //     .gallary-previous {
    //         left: 0;

    //         button {
    //             &::after {
    //                 content: " ";
    //                 display: block;
    //                 position: absolute;

    //                 width: 0; 
    //                 height: 0; 
    //                 border-top: 20px solid transparent;
    //                 border-bottom: 20px solid transparent; 
                    
    //                 border-right: 20px solid blue; 
    //             }
    //         }
    //     }

    //     .gallary-next {
    //         right: 0;

    //         button {
    //             &::after {
    //                 content: " ";
    //                 display: block;
    //                 position: absolute;
    //                 margin-left: 10px;

    //                 width: 0; 
    //                 height: 0; 

    //                 border-top: 20px solid transparent;
    //                 border-bottom: 20px solid transparent;
                    
    //                 border-left: 20px solid green; 
    //             }
    //         }
    //     }

    //     .gallary-wrapper-images {
    //         display: flex;
    //         flex-direction: row;
    //         flex-wrap: nowrap;
    //         justify-content: flex-start;
    //         margin: 0 3em;
    //         overflow: hidden;
    //         max-height: 512px;
    //     }

    //     .gallary-item {
    //         width: 100%;
    //         float: none !important
    //     }
    // }
}