html, body {
	background: $PrimaryBrown;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $PrimaryHeaderFont;
}

p, ul, ol, li, span, div, input, legend, i, b, header, footer, table, th, td {
	font-family: $PrimaryBodyFont;
}

main {
	background: $white;
	display: inline-block;
	width: 100%;

	main section {
		overflow: auto;
	}

	&.header-height-offset{
		padding-top: 90px;
	}

	@include pointbreak($largeTablet) {

		& section .contents {
			min-height: 30px;

			& > header {
				margin: 0 auto;
				max-width: $desktop;
			}

		}

	}

	& > section.sub-page {
		margin-top: 90px;
	}
}

footer {
	background: $FootBackground;
	color: $white;
	padding: 2em;
}

body {
	display: flex;
	flex-direction: column;
	main {
		flex: 1;
	}
}

@media screen {

	section.green-section {
		background-color: $PrimaryButton;

		header {
			color: $white;
		}

		ul {
			color: $white;
		}
	}

	section, table { 
		font-size: 115%; 
		padding: 0 5%;
		padding-bottom: 35px;
	}

	section {
		& > div.contents {
			overflow: hidden;

			& > header {
				margin-top: 15px;
				margin-bottom: 20px;
			}

			ul {
				list-style: none;
				margin: 10px 0 0 0;
				padding: 0;
			}
		}
	}

	.topic-icon {
		text-align: center;

	}
}

section > section {
	padding: 0;
}

.extra-top-padding {
	padding-top: 1em;
}

.centered-table {
	display: flex;
}

.table-wrapper {
	display: inline-block;
	padding: 1em 0;
	margin: 0 auto;
	width: 90%;

	@include pointbreak(700px) {
		width: auto;
	}
}


#about-us {
	@include pointbreak($desktop) {
		& > section {
			max-width: $desktop;
		}
	}
}

.google-map {
	height: 100%;
	min-height: 450px;
	max-height: 450px;
	position: relative;
	width: 100%;
}

.responsive-tables {
	padding: 0;
	width: 100%;

	thead {
		display: none;
		speak: none;
	}

	tbody {

		tr {
			display: block;
			margin-bottom: 20px;

			th, td {
				display: block;
			}

			td {
				div {
					span:nth-child(2) {
						float: right;
						padding-right: 0.5em;
					}
				
				}
				border-bottom: 1px solid #000;

				&:nth-child(even) {
					background: $tableRowStripColor;
				}
			}

			.site-type {
				background: $tableHeaderColor;
				color: $white;
				text-align: center;
				
			}
		}

	}

	th, td {
		padding: 7px;
	}

	tfoot {
		td {
			padding: 2px 2px 2px 7px;
		}
	}

	@include pointbreak(700px) {
		border-collapse: collapse;
		margin-bottom: 10px;
		width: 615px;

		thead, tbody {
			tr {
				&.site-type {
					background: transparent;
					width: 400px;
				}

				th, td {
					padding: 10px;
				}
			}
		}

		thead {
			display: table-header-group;

			tr {
				background: $tableHeaderColor;
				color: $white;
			}
		}

		tbody {

			tr {
				display: table-row;

				th, td {
					display: table-cell;

					.site-type-title-mobile {
						display: none;
						speak: none;
					}

					div {
						span:nth-child(2) {
							padding-right: 0;
						}
					}
				}

				td {

					&:nth-child(even) {
						background: transparent !important;
					}
				}

				.site-type {
					background: transparent;
					color: $black;
					text-align: left;
				}
			}

			tr:nth-child(even) {
				background: $tableRowStripColor;
			}

		}

	}
}

#amenities {

	.topic-icon {
		margin-bottom: 20px;
		margin-top: 30px;
	}

	ul {
		text-align: center;
		margin-top: 0;

		@include pointbreak($largeTablet) {
			padding: 0;
			margin-top: 10px;
		}
	}

	.contents {
		padding-bottom: 20px;
	}

}

.extra-padding {
	padding: 20px;
}

.center-text {
	text-align: center;
}

.accessible-text {
	position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

.rules-list {
	li {
		padding-bottom: 15px;
	}
}