header.site-header {
	background: $blackRGBA;
	font-family: $PrimaryHeaderFont;
	height: 90px;
	position: absolute;
	width: 100%;

	.site-header-inner {
		margin: 1.25em 0.5em 1em;

		@include pointbreak(650px) {
			margin: 1.25em 2em 1em;
			position: relative;
		}

		h1 {
			color: $white;
			display: inline-block;
			font-size: 24px;
			margin: 7px 0 0 0;
			top: 10px;
			position: absolute;

			a {
				color: $white;
				text-decoration: none;
			}

			@include pointbreak(465px) {
				position: relative;
				top: -5px;
			}

			@include pointbreak(650px) {
				font-size: 32px;
			}
		}

		nav {
			background: #000;
			display: block;
			left: -1em;
			position: absolute;

			@include pointbreak(650px) {
				left: -2em;
			}

			a {
				color: $white;
				cursor: pointer;
				text-decoration: none;
			}

		}

		@include pointbreak($desktop) {

			.global-menu-button {
				display: none;
			}

			h1 {
				a {

				}
			}

			nav {
				background: transparent !important;
				display: block !important;
				float: right;
				position: relative !important;

				ul {
					list-style: none;
					margin: 0;
					padding: 0;
					position: relative;
					top: -8px;

					li {
						display: inline-block;
					}
				}

				a {
					display: inline-block;
					margin-left: 2em;
					padding: 1em 0.75em;

					&:hover {
						text-decoration: underline;
					}

					&.primary-button {
						text-decoration: none;
					}
				}

			}

		}

	}
}