.site-header {
	background: $FootBackground;
	display: flex;
	padding: 1.25em;
	position: relative;
	height: 40px;

	.global-menu-button {
		position: absolute;
		height: 48px;
		top: 15px;
	}

	h1 {
		flex: 1;
		text-align: center;
		//margin-left: 50px;
		
		a {
			color: $white;
			display: inline-block;
			font-size: 75%;
			text-decoration: none;
			margin-top: -5px;
			width: 315px;
		}
	}

	// @include pointbreak(475px) {

	// 	h1 {

	// 		a {
	// 			width: auto;
	// 		}

	// 	}

	// }

	@include pointbreak(600px) {

		h1 {

			a {
				font-size: 80%;
				width: auto;
			}

		}

	}

	@include pointbreak(600px) {

		h1 {

			a {
				font-size: 100%;
				padding-top: 6px;
			}

		}

	}

	@include pointbreak($largeTablet) {

		display: block;
		height: 50px;

		.global-menu-button {
			display: none;
		}

		h1 {
			text-align: left;

			a {
				padding-top: 8px;
			}
		}

	}

}