header.site-header {
	background: $blackRGBA;
	font-family: $PrimaryHeaderFont;
	height: 90px;
	position: absolute;
	width: 100%;

	.site-header-inner {
		margin: $desktopSectionMargin;

		h1 {
			color: $white;
			display: inline-block;
			margin: 0;
		}

		nav {
			float: right;

			ul {
				margin: 0;
			}

			a {
				color: $white;
				cursor: pointer;
				display: inline-block;
				margin-left: 2em;
				padding: 1em 0.75em;
				text-decoration: none;
			}

		}
	}

}