.hero {
	align-items: center;
	background-image: url('../images/hero-mobile.jpg');
	//background-size: cover;
	background-position: -70px 0;
	background-repeat: no-repeat;
	//background-attachment: fixed;
	display: flex;
	justify-content: center;
	height: 400px;
	padding-bottom: 10px;
	text-align: center;

	@include pointbreak(600px) {
		//background-position: -80px -200px;
	}

	@include pointbreak(900px) {
		background-size: cover;
		//background-image: url('../images/hero-mobile.jpg');
		background-position: 0;
		height: 350px;
	}
}
