.hero {
	align-items: center;
	background-image: url('../images/hero-test-image.jpg');
	background-size: cover;
	background-position: center -250px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	height: 40vh;
	text-align: center;
	//width: 100vw;
}