.tent-icon {
    background: url('../images/tent.svg') transparent;
    background-size: 100px 100px;
    display: inline-block;
    height: 100px;
    width: 100px;
}

.climbing-icon {
    background: url('../images/climbing.svg') transparent;
    background-size: 100px 100px;
    display: inline-block;
    height: 100px;
    width: 100px;
}

.ice-cream-icon {
    background: url('../images/ice-cream.svg') transparent;
    background-size: 100px 100px;
    display: inline-block;
    height: 100px;
    width: 100px;
}